*{
	margin: 0;
	padding: 0;
}



.navbar{
	background-image: url('58fe599bc3618843468b47c1.jpg');
	width: 100%;
	background-size: cover;
	height: 200px;
}

.nav-item{
	width: 100%;
	font-family: 'Pacifico', cursive;
	color: #FFFACD;
	text-align: center;
	font-size: 25px;
    transform: translateY(100%);
}

.red{
	padding-bottom: 30px;
}

body{
	height: 100vh;
	background-color: #ADFF2F;
}

.main{
	display: flex;
	height: 100%;
	background-color: #ADFF2F;
	width: 60%;
    flex-direction: column;
	align-items: flex-start;
	justify-content: flex-start;
	flex-wrap: wrap;
	font-size: 40px;
}

.yellow{
	background-color: #FFFF00;
	font-size: 60px;
	width: 40%;
	display: flex;
	flex-direction: column;
	align-items: center;
}

.grand{
	display: flex;
	align-items: stretch;
	height: 100%;
	width: 100%;
}

h3{
	font-family: 'Open Sans', sans-serif;
}

.map img{
	overflow: hidden;
	width: 100%;
}

.red a:hover{
	color: #228B22;
	font-size: 70px;
}

.homes{
	display: flex;
	
}

.form{
	padding-top: 20px;
	font-family: 'Open Sans', sans-serif;
	display: flex;
	flex-direction: column;
	align-self: flex-start;
	padding-bottom: 20px;
	height: 300px;
	justify-content: space-between;
}

.potatofree img{
	width: 300px;
	height: 300px;
}

.potatofree{
	display: flex;
	justify-content: center;
	flex-direction: column;
	align-items: center;
}

.burger img{
	width: 300px;
	height: 300px;
}

.burger{
	display: flex;
	justify-content: center;
	flex-direction: column;
	align-items: center;
}

.cola img{
	width: 300px;
	height: 300px;
}

.cola{
	display: flex;
	justify-content: center;
	flex-direction: column;
	align-items: center;
}

.tomato img{
	width: 300px;
	height: 300px;
}

.tomato{
	display: flex;
	justify-content: center;
	flex-direction: column;
	align-items: center;
}

.ice img{
	width: 300px;
	height: 300px;
}

.ice{
	display: flex;
	justify-content: center;
	flex-direction: column;
	align-items: center;
}

.finalbutton{
	height: 400px;
	width: 400px;
	display: flex;
	justify-content: flex-end;
	align-items: flex-end;
}

.third{
	height: 250px;
	width: 10000px;
}

.third img{
	height: 100%;
	width: 100%;
}

.second{
	height: 250px;
	width: 10000px;
}

.second img{
	height: 100%;
	width: 100%;
}

.first{
	height: 250px;
	width: 10000px;
}

.first img{
	height: 100%;
	width: 100%;
}

.main a:hover{
	color: #800080;
}

.pic{
	height: 300px;
}

.pic img{
	height: 100%;
	width: 150%;
}
